# idea
.idea/
*.iml

# vscode
.vscode/
.history/

# npm
node_modules/
package-lock.json
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# parcel
.cache
test/

