/* ==UserStyle==
@name           twitter 简化
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    删除右边的侧栏，尽是些推广什么的
@author         rxliuli
==/UserStyle== */
@-moz-document url-prefix("https://twitter.com/")
{
  #react-root
    > div
    > div
    > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010
    > main
    > div
    > div
    > div
    > div.css-1dbjc4n.r-aqfbo4.r-zso239.r-1hycxz {
    display: none;
  }

  #react-root
    > div
    > div
    > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010
    > main
    > div
    > div
    > div
    > div.css-1dbjc4n.r-kemksi.r-1kqtdi0.r-1ljd8xs.r-13l2t4g.r-1phboty.r-1jgb5lz.r-11wrixw.r-61z16t.r-1ye8kvj.r-13qz1uu.r-184en5c,
  #react-root
    > div
    > div
    > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010
    > main
    > div
    > div
    > div
    > div.css-1dbjc4n.r-kemksi.r-1kqtdi0.r-1ljd8xs.r-13l2t4g.r-1phboty.r-1jgb5lz.r-11wrixw.r-61z16t.r-1ye8kvj.r-13qz1uu.r-184en5c
    > div
    > div.css-1dbjc4n.r-1jgb5lz.r-1ye8kvj.r-13qz1uu {
    max-width: initial;
  }

  #react-root
    > div
    > div
    > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010
    > main
    > div
    > div
    > div
    > div.css-1dbjc4n.r-kemksi.r-1kqtdi0.r-1ljd8xs.r-13l2t4g.r-1phboty.r-1jgb5lz.r-11wrixw.r-61z16t.r-1ye8kvj.r-13qz1uu.r-184en5c
    > div
    > div:nth-child(2)
    > div
    > div {
    max-width: initial;
    margin: 0;
  }
}
