/* ==UserStyle==
@name           删除台灣選舉維基百科的透明遮罩
@namespace      github.com/rxliuli/userjs
@version        1.0.0
@description    这个网站会在禁止复制的文字上面覆盖一个透明遮罩，这个脚本可以删除掉它
@author         rxliuli
==/UserStyle== */

@-moz-document domain("votetw.com") {
  div[style*='width: 100%; height: 100%; top: 0;left: 0; position:fixed; z-index: 255;'] {
    display: none;
  }
}
