/* ==UserStyle==
@name           Telegram 黑暗模式萌化-东方
@namespace      github.com/rxliuli/userjs
@version        0.1.0
@description    使用东方系列的博丽灵梦作为背景，并将 Telegram 聊天页面全透明化
@author         rxliuli
==/UserStyle== */
@-moz-document domain("evgeny-nadymov.github.io") {
  /* 详情的背景 */
  .page {
    background-image: url(https://cdn.jsdelivr.net/gh/rxliuli/img-bed/20200306083232.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dialog-details {
    background-color: transparent;
  }

  /* 让页面占宽 100% */
  .page {
    max-width: 100%;
  }
  /* 消息背景 */
  .message-content,
  /* 主输入框 */
  .inputbox-bubble,
  /* 固定消息 */
  .pinned-message {
    background-color: rgba(48, 48, 48, 0.8);
  }
  /* 选择的联系人 */
  .dialog-active {
    background-color: rgba(80, 162, 233, 0.6);
  }
  /* 联系人 */
  .dialogs,
  .sidebar-page,
  .dialogs-list,
  /* 未读消息提示条 */
  .unread-separator,
  /* 顶部标题栏透明化 */
  .header-details,
  /* 群组消息 */
  .chat-info {
    background-color: rgba(0, 0, 0, 0.2);
  }
  /* 归档的联系人列表 */
  .dialogs-list:nth-of-type(2) {
    background-color: rgba(48, 48, 48, 0.95);
  }
  .MuiPaper-root {
    background-color: rgba(0, 0, 0, 0.95);
  }

  /* 代码片段，此处用于提高对比度 */
  code {
    color: #e96900;
  }
}
